ion-header {
  text-align: center;
}

ion-item {
  padding-bottom: 0px;
}

.title {
  font-size: 1.5rem;
  margin-left: 20px;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.phone {
  font-size: 1rem;
  margin-left: 15px;
}

.contact{
  color: gray;
  margin-left: 15px;
}

.time{
  color: rgb(95, 109, 157);
  font-size: x-small;
  position: absolute;
  right: 0;
  bottom: 0;
}

.text{
  margin-right: 10px;
}

.reply-input{
  border: 1px solid;
  border-radius: 10px; 
  white-space: pre-wrap; 
  word-wrap: break-word; 
  overflow-x: auto;
  height: 5vh;
}

.id{
  border: 1px solid;
  border-radius: 10px;
  width: 40%;
  margin-left: 15px;
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(5);
  }
  100% {
    transform: scale(1);
  }
}

.click {
  position: absolute;   
  border-radius: 50%;
  animation: click 5s infinite;
}
