ion-title {
    padding-left: 20%;
    font-size: 1.5rem;
  }
  
  ion-input {
    --background: #fafafa; 
    --border-color: #ddd; 
    border-radius: 8px;
    margin-bottom: 30px;
    width: 70vw;
    margin-top: 10%;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    margin-bottom: 50px;
  }

  ion-button{
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .error-message{
    color: brown;
  }

 .list{
    align-self: flex-start;
    margin-left: 10%;
  }