<div>
  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button [color]="backgroundAdd" (click)="addForm()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
<div>
  <ion-fab slot="fixed" horizontal="end" vertical="top">
    <ion-fab-button [color]="backgroundLogout" size="small" fill="clear" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
<div>
  <ion-fab slot="fixed" horizontal="start" vertical="top">
    <ion-fab-button color="light" size="small" fill="clear" (click)="search()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>


