ion-header {
  text-align: center;
  /* background: url("https://th.bing.com/th?id=OIP.GyZdRJL69-NFjvHeizXiPQHaFa&w=292&h=213&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2")
    no-repeat center center / cover; */
}



.title {
  font-size: 2.25rem;
  background-color: transparent;
}

ion-content {
  width: 95vw;
  min-width: 380px;
  border: solid 1px #ddd;
  align-self: center;
  margin-top: 5%;
}

:host {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  
}

@media (max-width: 600px) {

  .title {
    font-size: 2rem;
  }
 
}


