<ion-header>
  <div style="font-size: 1rem; color: white">Lista Contatti</div>
  <ion-title>
    <div class="title" #headerTitle>Lista Contatti</div>
  </ion-title>
</ion-header>
@if(showSearchInput){
<ion-searchbar
  #searchBar
  (ionFocus)="searchInputTouched()"
  [(ngModel)]="searchInput"
  (ngModelChange)="getContacts()"
  showCancelButton="ionFocus"
></ion-searchbar
>}
<ion-content class="ion-padding-top">
  <div style="display: flex; justify-content: space-around; align-items: center;">
    <app-itk-button
    [CssClass]="'btn-primary'"
      [Text]="'Apri Modale 1'"
      [Size]="100"
      (click)="openModal(10)"
    ></app-itk-button>
    <app-itk-button
    [CssClass]="'btn-primary'"
      [Text]="'Clienti'"
      [Size]="100"
      (click)="openModal(1)"
    ></app-itk-button>
    <app-itk-button
    [CssClass]="'btn-primary'"
    [Text]="'Vetture'"
    [Size]="100"
    (click)="openModal(2)"
  ></app-itk-button>
  <app-itk-button
  [CssClass]="'btn-primary'"
  [Text]="'Viaggi'"
  [Size]="100"
  (click)="openModal(3)"
></app-itk-button>
<app-itk-button
[CssClass]="'btn-primary'"
  [Text]="'Prenotazioni'"
  [Size]="100"
  (click)="openModal(4)"
></app-itk-button>
<app-itk-button
[CssClass]="'btn-primary'"
  [Text]="'Servizi'"
  [Size]="100"
  (click)="openModal(5)"
></app-itk-button>
    <app-itk-button
    [CssClass]="'btn-primary'"
      [Text]="'Apri Modale 2'"
      [Size]="100"
      (click)="openModal(20)"
    ></app-itk-button>
  </div>
  <div style="display: flex; justify-content: space-between">
    <div>{{modaleMex1}}</div>
    <div>{{modaleMex2}}</div>
  </div>
  <ng-container #modalContainer> </ng-container>
  <div *ngFor="let contact of contacts">
    <ion-item (click)="openChat(contact.id)">
      <ion-avatar>
        <img [src]="contact.immagineProfilo" />
      </ion-avatar>
      {{contact.id}}
      <ion-title>
        <h4>{{contact.name}} {{contact.surname}}</h4>
      </ion-title>
    </ion-item>
  </div> </ion-content
><app-add-button
  [backgroundAdd]="'danger'"
  [backgroundLogout]="'dark'"
  (showSearchInputChange)="onSearchInputChanged($event)"
></app-add-button>
